body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: hsl(0, 2%, 80%);
  font-family: Roboto;
  margin: 0;
}
p{
  font-size: 1.2em;
  margin-bottom: 0;
}
.contactMe{
  font-size: 1.2em;
  margin-bottom: 0;
  width: 800px;
}
h1{
  font-size: 4em;
  margin-top: 0;
  margin-bottom: 0;
}
.contactButton{
  font-size: 1.2em;
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  background-color: hsl(120, 100%, 51%);
  border-radius: 10px;
  cursor: pointer;
}
.contactButton:hover{
  background-color: hsla(120, 100%, 51%, 0.688);
  box-shadow: 2px 2px 5px hsl(0, 0%, 25%);
}
.quickLinks{
  cursor: pointer;
  align-items: center;
  margin-top: 20px;
}
.quickLinks a{
  align-items: center;
  text-decoration: none;
  padding: 8px;
  border-radius: 5px;
  background-color: #333;
  color: white;
  margin: 5px;
}
.quickLinks a:hover {
  background-color: #555;
  box-shadow: 3px 3px 5px hsl(0, 0%, 5%); 
}